.section {
  padding: 10px;
}

#bar-chart {
  position: relative;
}
#tooltip {
  position: absolute;
}

rect:hover {
  fill: aqua;
}

/* .bar-chart {
  margin: 10px;
} */

/* svg {
  display: inline-block;
  margin: auto;
  text-align: center;
} */

/* blockquote {
  padding-left:60px;
} */